.cookie-accept {
	display: none;
	position: fixed; 
	background-color: #000000c7;
	bottom: 0px;
	max-width: 100%;
	left: 0;
	right: 0;
	border-top: 1px solid #fff;
	z-index: 99;
}

.container {
    width: 75%;
    margin: auto;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container p {
	text-align: center;
	width: 100%;
	font-size: 18px;
	margin: 20px 0;
}

.acpt {
    width: 25%;
    margin: auto;
    display: block;
}

.acp-btn {
	color: #fff;
	text-decoration: none;
	background-color: #005198;
	padding: 10px 20px;
	margin: 20px 0px;
	border-radius: 20px;
	font-size: 20px;
}

@media (min-width: 600px) {
	.container {
		flex-direction: initial;
	}
	.container p {
		width: 75%;
		text-align: left;
	}
}